h1 {
    color: rgb(218, 30, 30);
}
img{
    width: 400px;
    height: 300px;
}
#thirdDiv{
    border-width: 100px;
    border-color: black;
    border-style: solid;
    padding: 50px;
    width: 500px;
    height: 600px;
    background-color: rgb(78, 72, 72);
}
#spanId{
    font-size: 50px;
    color: rgb(110, 11, 11);
}